:root{
    /*I like to list our colours as RGB values so I can access them with different opacities if I need to */
    --dark: 0, 0, 0;
    --light: 240, 240, 245;
    --accent: 255, 183, 82;

}

html {
    /* border-box box model allows us to add padding and border to our elements without increasing their size */
    box-sizing: border-box;
    
    /* A system font stack so things load nice and quick! */
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    color: rgba(var(--light), 1);

  }

/*
  WAT IS THIS?!
  We inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    background-image: url("nebula.jpg");
    background-attachment:fixed;
    background-size:cover;
    background-position: top center;
    min-height: calc(100vh - 100px);
    margin: 50px;
  }

  .item {
  display: grid;
  /*justify-content: center;
  align-items: center;*/
  border-radius: 5px;
  border: 1px solid rgba(var(--light),0.1);
  background-color: rgba(var(--dark), 0.8);
  padding: 1rem;
}



h1, h2, h3, h4{
text-transform: uppercase;
letter-spacing: 0.2rem;
text-shadow: 0 0 5px rgba(var(--light), 0.5);
margin: 0 0 1rem 0;
}

p{
    letter-spacing: 0.02rem;
    margin: 0 0 1rem 0;
    line-height: 1.5rem;
    font-weight: 300;
}

.code{

    font-family: 'Ubuntu Mono', monospace;
    color: rgb(var(--accent));


}

.block{
    display: block;

}

  





