:root{
    /*I like to list our colours as RGB values so I can access them with different opacities if I need to */
    --dark: 0, 0, 0;
    --light: 240, 240, 245;
    --accent: 255, 128, 170;
}

html {
    /* border-box box model allows us to add padding and border to our elements without increasing their size */
    box-sizing: border-box;
    
    /* A system font stack so things load nice and quick! */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    font-weight: 100;
    font-size: 2rem;
    color: rgba(var(--light), 1);
    text-shadow: 0 0 5px rgba(var(--light), 0.5);
  }

/*
  WAT IS THIS?!
  We inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    background-image: url("nebula.jpg");
    background-attachment:fixed;
    background-size:cover;
    background-position: top center;
    min-height: calc(100vh - 100px);
    margin: 50px;
    letter-spacing: 0.2rem;
  }

  .item {
  /* We center the contents of these items. */
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgba(var(--light),0.1);
  font-size: 2rem;
  background-color: rgba(var(--dark), 0.7);
}

.item p {
  margin: 0 0 5px 0;
}
  





